---
title: DeRuby 
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "deruby-logo.png" %>
  </div>
  <h2>About Us</h2>
  <p>ゆるゆるrubyを学んでいこうぜをスタンスに有志各位で集まったグループです。</p>
  <h3><a href="https://github.com/DeRuby">Link</a></h3>
</div><!-- .welcome -->
